*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* best practice */ }

html {
  font-size: 62.5%;
  /* best practice, defines 1 rem, 1 rem = 10px/16px = 62.5% */ }

body {
  box-sizing: border-box;
  /* best practice */
  font-family: 'Montserrat', sans-serif; }

::selection {
  background-color: #414770;
  color: #eeeff5; }

.heading-primary {
  display: inline-block;
  font-size: 7rem;
  font-weight: 800;
  color: #eeeff5;
  vertical-align: bottom; }

.heading-secondary {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #eeeff5;
  background-color: #414770;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: .5rem 1.5rem 1rem 1.5rem;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
  position: absolute;
  left: 4rem;
  z-index: 90; }

.heading-tertiary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 800;
  color: #414770;
  background-color: transparent;
  padding: .5rem 0 .5rem 0;
  margin-top: 3rem;
  z-index: 4000; }

button {
  background-color: #5B85AA;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: #eeeff5;
  padding: .5rem 1rem .75rem 1rem;
  border: none;
  outline: none; }
  button:hover, button:focus, button:active {
    box-shadow: 0.1rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
    cursor: pointer; }

.u-margin-bottom-med {
  margin-bottom: 5rem; }

.u-margin-header-wrap {
  margin-left: 6rem; }

.hero__image {
  background-image: linear-gradient(to right bottom, rgba(65, 71, 112, 0.8), rgba(55, 34, 72, 0.95)), url("img/tree_bag_bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 60vh;
  position: relative; }

.hero__text {
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  text-align: right;
  line-height: 5.8rem;
  background-color: transparent;
  text-shadow: 0 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }

.haiku {
  margin-left: calc(8rem + 4rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  width: calc(100vw - (8rem + 4rem)); }
  .haiku__header {
    flex: 0 1 auto;
    width: 0;
    height: 0; }
    .haiku__header-top {
      top: 9rem; }
  .haiku__text {
    flex: 1 1 auto;
    flex-wrap: wrap;
    display: flex;
    height: 100%; }
    .haiku__text-single {
      align-items: space-between;
      display: block;
      color: #372248;
      font-size: 3rem;
      font-weight: 400;
      word-spacing: 1.05rem;
      margin-bottom: 1rem;
      position: relative;
      line-height: 4rem;
      top: 0;
      vertical-align: top; }

.purpose {
  padding-bottom: 0;
  position: relative;
  display: block;
  width: 100%;
  max-height: 80vh;
  background-color: inherit; }
  .purpose__image {
    width: 100%;
    max-height: inherit;
    background-color: rgba(91, 133, 170, 0.6);
    object-fit: cover;
    object-position: 0 0;
    overflow: hidden;
    position: relative; }
    .purpose__image::before {
      display: inline-block;
      vertical-align: top;
      line-height: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1001;
      background-image: linear-gradient(to right bottom, rgba(91, 133, 170, 0.05), rgba(91, 133, 170, 0.33)); }
  .purpose__text {
    padding: 1.5rem 1.5rem 2rem 2rem;
    background: linear-gradient(to right bottom, rgba(91, 133, 170, 0.66), #5b85aa);
    color: #eeeff5;
    text-shadow: 1px 1px 1px #372248;
    font-size: 1.67rem;
    line-height: 140%;
    position: absolute;
    left: 4rem;
    bottom: 0;
    right: 0;
    z-index: 2001; }

img {
  max-width: 100%; }

.latest {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin-left: 4rem;
  margin-right: 4rem; }
  .latest__header-top {
    top: 17rem; }
  .latest__text {
    color: #372248;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .latest__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0.1rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 0; }
    .latest__image::before {
      display: inline-block;
      vertical-align: top;
      line-height: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1001;
      background-image: linear-gradient(to right bottom, rgba(245, 110, 72, 0.05), rgba(245, 110, 72, 0.33)); }

.captions__container {
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative; }

.captions__form {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  color: #372248;
  background: transparent;
  padding: .5rem;
  overflow-y: auto;
  vertical-align: top;
  height: 5rem;
  border: 1px dotted transparent;
  border-radius: 2px;
  outline: none;
  transition: all 1s; }
  .captions__form:hover, .captions__form:focus {
    border: 1px dotted rgba(245, 110, 72, 0.5);
    background: #eeeff5;
    box-shadow: 0.1rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
  .captions__form-narrow {
    width: calc(100% - 9rem); }
  .captions__form-fadeIn {
    opacity: 1;
    visibility: visible;
    transition: all 1s; }
  .captions__form-fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: all 1s; }

.captions__rehash {
  position: absolute;
  top: 0;
  right: 0; }

.section-hero {
  display: block;
  position: relative;
  width: 100vw;
  max-height: 60vh;
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }

.section-haiku {
  display: block;
  position: relative;
  width: 100vw;
  max-height: 80vh;
  background-color: #fff;
  color: #372248; }

.section-purpose {
  display: block;
  position: relative;
  width: 100vw;
  max-height: 80vh;
  background-color: rgba(91, 133, 170, 0.6);
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }

.section-latest {
  display: block;
  position: relative;
  width: 100vw;
  max-height: 100%;
  background-color: rgba(65, 71, 112, 0.4);
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
  padding-top: 2rem;
  padding-bottom: 4rem; }

.header {
  position: fixed;
  z-index: 1000; }
  .header__logo-nav {
    background-color: #eeeff5;
    position: relative;
    width: 100vw;
    box-shadow: 0.1rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
    height: 4rem; }
  .header__logo {
    background-color: #372248;
    position: absolute;
    top: 0;
    left: 4rem;
    height: 6rem;
    width: 6rem;
    z-index: 2000;
    transition: all 300ms; }
    .header__logo:hover, .header__logo:focus {
      box-shadow: 0.25rem 0.5rem 0.5rem rgba(55, 34, 72, 0.5); }
    .header__logo-text {
      color: #eeeff5;
      font-size: 2.2rem;
      font-weight: 800;
      padding: 0 .2rem;
      width: 100%;
      position: absolute;
      bottom: 2rem;
      display: inline-block;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      transition: all 300ms; }
      .header__logo-text:hover, .header__logo-text:focus {
        transform: translateY(-2px); }
      .header__logo-text:active {
        transform: translateY(1px); }
  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - (6rem + 4rem + 1rem));
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end; }
    .header__nav-link {
      line-height: 1;
      vertical-align: bottom;
      font-size: 1.8rem;
      font-weight: bold;
      margin-right: 4rem;
      height: 3.8rem;
      padding-left: .5rem;
      padding-right: .5rem;
      position: relative;
      transition: all 300ms;
      z-index: 3000;
      background-color: transparent;
      color: #5B85AA;
      text-decoration: none;
      text-shadow: 1px 1px 1px #eeeff5;
      z-index: 4001; }
      .header__nav-link:hover, .header__nav-link:focus {
        background-image: linear-gradient(to top, white, #eeeff5);
        border-bottom: 2rem solid #372248;
        transform: translateY(-2px); }
      .header__nav-link:active {
        background-image: linear-gradient(to top, rgba(91, 133, 170, 0.2), #eeeff5);
        transform: translateY(1px); }
      .header__nav-link:hover::before, .header__nav-link:focus::before {
        display: inline-block;
        vertical-align: top;
        line-height: 0;
        position: absolute;
        top: -2.2rem;
        bottom: 0;
        right: 0;
        left: 0;
        height: 6rem;
        content: '';
        z-index: 2001;
        box-shadow: 0.25rem 0.5rem 0.5rem rgba(55, 34, 72, 0.5); }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; }

.row {
  max-width: 100%;
  width: 100vw;
  display: block;
  position: inherit; }

.footer {
  display: block;
  position: relative;
  width: 100vw;
  max-height: 60vh;
  padding: 4rem;
  background-color: #372248;
  color: #eeeff5; }
  .footer__links-item {
    list-style: none;
    margin-bottom: 1rem;
    font-weight: bolder;
    justify-content: flex-start;
    vertical-align: center; }
    .footer__links-item img {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
      overflow: hidden; }
    .footer__links-item-text {
      font-size: 3rem; }
    .footer__links-item a:link, .footer__links-item a:visited {
      text-decoration: none;
      color: #eeeff5; }
    .footer__links-item a:hover, .footer__links-item a:active {
      color: #5B85AA; }
  .footer__copyright {
    font-size: 1rem;
    color: #eeeff5;
    text-align: center; }
