// COLORS
$color-primary-dark: #372248;
$color-primary: #414770;

$color-white: #eeeff5;
$color-white-true: #fff;
$color-black: #372248;
$color-black-true: #000;

$color-secondary: #5B85AA;


$color-tertiary: #F56E48;


// MARGINS
$grid-width: 100%;
$left-margin: 4rem;
$default-font-size: 2rem;
$h2-top-haiku: 9rem;
$h2-top-latest: 17rem;
