.DnD {
  border: 2px solid red;

  &__toDrag {

    draggable: true;
    border: 1px solid orange;
    width: 100px;
    height: 100px;


    &-img {
      width: 16rem;
      height: 12rem;
      border: 1px solid red;
      background-color: $color-primary;

    }

  }

  &__dropZone {

    border: 5px solid yellow;
    width: 200px;
    height: 200px;

    &-wrapper {

    }

    &-drophere {
      background-color: rgba($color-secondary, .4);
      width: 8rem;
      height: 6rem;

    }
  }

}
