.haiku {

  @include basic-flex;


  &__header {
    flex: 0 1 4rem;
    width: 4rem;
    height: 10rem;
    display: inline-block;
    position: relative;

    &-rotate {
      width: 4rem;
      display: inline-block;
      position: absolute;
      top: 9rem;
      transform: rotate(-90deg);
      transform-origin: left top;



      @include respond(tab-port) {


      }
    }

    &-top {
      top: $h2-top-haiku;
      @include dropshadow-vertical;

      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: 2.5s;
      animation-fill-mode: forwards;


    }
  }


  &__text {

    @include flex-item-right;


    &-single {
      align-items: space-between;
      color: $color-primary-dark;
      font-size: 2.5rem;
      font-weight: 400;
      word-spacing: 1.05rem;
      margin-bottom: 1.5rem;
      line-height: 2.8rem;
      position: relative;
      top: 0;
      vertical-align: top;
      // Animation
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1.25s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay:(#{1s + ($i * 2s)});
          }
        }


      @include respond(tab-port) {
        font-size: 2.8rem;
        margin-bottom: 2rem;
        line-height: 3rem;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
              margin-left: (#{($i * $left-margin)});
            }
          }
        }

      @include respond(tab-land) {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }

    }
  }
}
