.haiku {
  margin-left: calc(8rem + #{$left-margin});
  @include flex-container;
  flex-wrap: nowrap;
  // border: 1px solid gray;
  width: calc(100vw - (8rem + #{$left-margin}));


  &__header {
    flex: 0 1 auto;
    width: 0;
    height: 0;

    &-top {
      top: $h2-top-haiku;
    }
  }


  &__text {
    flex: 1 1 auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: $margin-scroll;




    &-single {
      align-items: space-between;
      color: $color-primary-dark;
      font-size: 2.5rem;
      font-weight: 400;
      word-spacing: 1.05rem;
      margin-bottom: 1.5rem;
      position: relative;
      line-height: 2.8rem;
      top: 0;
      vertical-align: top;

    }

  }
}
