.hero {



  &__image {

    background-image: linear-gradient(
         to right bottom,
         rgba($color-primary, 0.8),
         rgba($color-primary-dark, .95)),
         url('img/tree_bag_bg.jpg');

    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 60vh;
    position: relative;
  }

  &__text {
    position: absolute;
    bottom: -0.3rem;
    right: 0;
    text-align: right;
    line-height: 5.8rem;
    background-color: transparent;
    text-shadow: 0 .5rem .5rem rgba($color-primary, .6);
    transform-origin: left top;

    &-1st {
      display: inline-block;
      opacity: 0;

      animation-name: moveInTopLeft;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      animation-delay: 600ms;
      animation-fill-mode: forwards;

    }

    &-2nd {
      display: inline-block;
      opacity: 0;

      animation-name: moveInRight;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-delay: 2s;
      animation-fill-mode: forwards;

    }


    // TODO Media Query greater than 600px
    // padding-right: $margin-scroll;


  }
}
