

.latest {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;

  margin-left: $left-margin;
  margin-right: $left-margin;
  padding: 0;

  // Responsive edits
  @include respond(tab-port) {
    flex-direction: row;
  }

  @include respond(desktop) {
    margin-right: calc(#{$left-margin} + #{$margin-scroll});
    margin-top: $nav-top-margin;
  }


  &__header {

    display: block;
    height: 0;
    position: relative;

    opacity: 0;
    @include animation__moveDown(-6rem);
    animation-name: moveDown;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    z-index: map-get($zindex, text-over);

    @include respond(tab-port) {
      flex: 0 1 4rem;
      margin-top: 14rem;
      width: 4rem;
    }


    &-rotate {

      height: 4rem;
      width: 14rem;
      transform: rotate(-90deg);
      transform-origin: left top;
      display: block;
      position: relative;
      top: 14rem;
      z-index: map-get($zindex, text-over);
      @include dropshadow-vertical;
      background-color: $color-primary;




      @include respond(tab-port) {
        top: 0;

      }
    }
  }


  &__text {
    color: $color-black;
    font-size: $body-default;
    margin-bottom: 1rem;
    margin-top: 1rem;

  }



  &__image {
    max-width: 100%;
    max-height: 50rem;
    object-fit: scale-down;
    @include dropshadow;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    position: relative;
    top: 0;
    margin-top: 0;

    @include overlay($color-tertiary);

    img {
      max-height: 50rem;
      object-fit: scale-down;

    }

  }

  &__titles {
    height: 7rem;
    width: 100%;

  }


  &__first {
    // border: 1px solid yellow;
    flex: 3 1 auto;
    width: 100%;
  }



  &__second {
    flex: 1 1 auto;

    // h3 {
    //   width: 60%;
    // }
  }

  &__calculator {

  }

}
