@keyframes moveInTopLeft {
     0% {
          opacity: 0;
          transform: translateX(-15rem) translateY(-20rem) scale(0);
     }

     80% {
          opacity: .9;
          transform: translateX(5rem) translateY(4rem) scale(3);
     }

     100% {
          opacity: 1;
          transform: translateX(0) translateY(0) scale(1);
     }
}

@keyframes moveInRight {
     0% {
        opacity: 0;
        transform: translateX(30rem) skewX(25deg) scale(.25);
     }

     75% {
        opacity: .25;
        transform: translateX(-5rem) skewX(0) scale(3);
     }

     85% {
        opacity: .55;
        transform: translateX(0) skewX(0) scale(.75);
     }

     100% {
       opacity: 1;
       transform: translateX(0) skewX(0) scale(1);
     }
}

@keyframes fadeIn {
     0% {
        opacity: 0;
     }

     100% {
       opacity: 1;
     }
}

@mixin animation__moveDown ($y) {

  @keyframes moveDown {
         0% {
              opacity: 0;
              transform: translateY($y);
         }

         100% {
              opacity: 1;
              transform: translateY(0);
         }
    }
}
