*,
*::after, /* best practice */
*::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit; /* best practice */
    //  border: 1px solid green;

}

html {
     font-size: 62.5%; /* best practice, defines 1 rem, 1 rem = 10px/16px = 62.5% */

    //  @include respond(tab-port) {
    //    font-size: 50%; //1 rem = 8px, 8px / 16px = 50%
    //  }
    //  @include respond(tab-land) {
    //    font-size: 56.25%; //1 rem = 9px, 9px / 16px = 56.25%
    //  }
    //  @include respond(big-desktop) {
    //    font-size: 75%; // 1 rem = 12px, 12px / 16px
    //  }
}

body {
     box-sizing: border-box; /* best practice */
     font-family: 'Montserrat', sans-serif;


    //  @include respond(tab-port) {
    //    padding: 0rem;
    //  }

}


::selection {
  background-color: $color-primary;
  color: $color-white;
}

.heading-primary {
  display: inline-block;
  font-size: 7rem;
  font-weight: 800;
  color: $color-white;
  vertical-align: bottom;
}

.heading-secondary {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: $color-white;
  background-color: $color-primary;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: .5rem 1.5rem 1rem 1.5rem;
  @include dropshadow-vertical;
  position: absolute;
  left: $left-margin;
  z-index: 2000;
}

.heading-tertiary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 800;
  color: $color-primary;
  background-color: transparent;
  padding: .5rem 0 .5rem 0;
  margin-top: 3rem;
  z-index: 4000;

}
