.section-hero {
  @include section-block;
  max-height: 60vh;
  background-color: $color-primary;
  @include dropshadow;

  // TODO CROP IMAGE TO LANDSCAPE SO VARIATION ISN'T SO WIDE. USE CLIP.
  background-image: linear-gradient(
       to right bottom,
       rgba($color-primary, 0.8),
       rgba($color-primary-dark, .95)),
       url('img/tree_bag_bg.jpg');

  background-size: cover;
  background-position: left 90%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
}


.section-haiku {
  @include section-block;
  max-height: 80vh;
  background-color: $color-white-true;
  color: $color-black;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.section-purpose {
  @include section-block;
  max-height: 80vh;
  background-color: rgba($color-secondary, .6);
  @include dropshadow;

}

.section-latest {
  @include section-block;
  max-height: 100%;
  background-color: rgba($color-primary, .4);
  @include dropshadow;
  padding-top: 2rem;
  padding-bottom: 4rem;


}
